.historyContainer {
    margin-top: 5rem;
}

.history {
    display: flex;
    gap: 5rem;
    margin-left: 22%;
    margin-top: 20px;
}

.label {
    width: 30%;
}

.label label {
    font-size: 18px;
    font-weight: bold;
}

.textarea {
    width: 100%;
}

.textarea textarea {
    border-radius: 8px;
    width: 60%;
    height: 8vh;
}

@media only screen and (max-width: 768px) {
    .history {
        gap: 1rem;
        margin-left: 10%;
        margin-top: 20px;
    }

    .label label {
        font-size: 14px;
        font-weight: bold;
    }

    .label {
        width: 70%;
    }

    .textarea textarea {
        width: 90%;
    }

    .history {
        gap: 0.5rem;
        margin-left: 3%;
    }
}